body{
    background-image: url(https://w0.peakpx.com/wallpaper/442/869/HD-wallpaper-yellow-gray-abstract-background-material-design-creative-geometric-background-abstract-art.jpg);
}
.container{
    background-color: forestgreen;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 20px;
}